<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kanishk.tweetstream.task">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TweetActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/search_layout" />
        </activity>

        <provider
            android:name="com.kanishk.tweetstream.data.TweetContentProvider"
            android:authorities="com.kanishk.tweetstream.data.TweetContentProvider"
            android:exported="false" />

        <activity
            android:name="com.kanishk.tweetstream.task.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kanishk.tweetstream.task.TweetActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kanishk.weather.activity.WeatherActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/search_layout" />
        </activity>
    </application>

</manifest>